.cart {
  position: absolute;
  top: 150px;
  right: 70px;
  width: 50px;
  height: 50px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  .i {
    font-size: 30px;
    color: rgb(0, 0, 0);
  }
}
.cart:hover {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #ffffff;
  -webkit-box-shadow: 0px 0px 15px 15px #ffffff;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

@media screen and (max-width: 768px) {
  .cart {
      top: 18%;
      right: 20px; /* Ajusta este valor según el padding de tu navbar en móviles. */
      transform: translateY(-50%);
      margin: 5px 0;
  }

  .cart .i {
    font-size: 25px; /* Ajusta según tus preferencias. */
}
}

/*   &:before {
    content: attr(data-totalitems);
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -12px;
    right: -12px;
    background: #2bd156;
    line-height: 24px;
    padding: 0 5px;
    height: 24px;
    min-width: 24px;
    color: white;
    text-align: center;
    border-radius: 24px;
  }
  &.shake {
    animation: shakeCart 0.4s ease-in-out forwards;
  } */
