/* Header */

.header {
  width: 100%;
  height: 385px;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
      to right,
      hsla(224, 54%, 69%, 0.459),
      hsla(234, 88%, 68%, 0.664)
    ),
    url("/images/volcan2.png");
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      hsla(51, 73%, 70%, 0.459),
      hsla(217, 100%, 64%, 0.664)
    ),
    url("/images/volcan2.png");
  background-size: cover;
  background-attachment: fixed;
  position: relative;

}

.contenedor_superior{
  display: flex;
  justify-content: space-between;
}

.navbar {
  text-align: right;
  padding: 30px 50px 0 0;
}

.logo img {
  display: flex;
}

.logo .boton{
  display: none;
  margin: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.navbar a {
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
  margin-right: 10px;
  font-style: inherit;
  width: 20%;
  text-align: right;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.nav_links li a:hover {
  text-decoration: underline;
  color: #fdb93c;
}

/* nav > a:hover{
    text-decoration: underline;
} */

.nav_links {
  display: flex;
  list-style: none;
  justify-content: end;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  overflow: hidden;
  
}

@media screen and (max-width:480px){
  .header{
    height: auto;
    padding: 30px;
  }

  .contenedor_superior{
    display: block;
  }

  .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo .boton{
    display: block;
    cursor: pointer;
  }

  .svg{
    padding: 0 5px;
  }

  .contenedor_superior .navbar{
    flex-direction: column;
    width: 100%;
    opacity: 0; /* Escondemos inicialmente con opacity */
    height: 0;  /* Usamos height para asegurarnos que no ocupe espacio */
    pointer-events: none;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease; /* Especificamos las propiedades que deseamos animar */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 1001; /* este valor puede necesitar ajuste */
    margin: 0;
    padding: 0;
    transform: translateX(100%);
  }

  .contenedor_superior .navbar.activo{
    opacity: 1; /* Mostrar cuando esté activo */
    height: auto;
    max-height: 30vh;  /* Esto es para asegurarnos de que no cubra toda la pantalla si hay muchos elementos. Puedes ajustarlo según necesites. */
    pointer-events: auto;
    transform: translateX(0);
    
  }

  .wave{
    display: none;
  }

  .contenedor_superior ul{
    display: block;
    padding: 1rem;
    text-align: center;
  }

  .contenedor_superior li{
    margin: 1rem 0;
  }

  .logo img{
    margin: 0;
  }
}

/*
.header {
    background-image: linear-gradient(rgba(163, 164, 168, 0.7), rgba(80, 92, 132, 0.7)), url("/images/volcan 100.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.header img {
    width: 150px;
    margin-left: 50px;
    margin-top: 30px;
}


/*---------- imagen header --------*/
/*
.head_nav {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    background-color: #DF760B;
    opacity: 86%;
    align-items: flex-end;
    overflow: hidden;
}




/*---------- textbox inicial --------*/
/*
.text_box {
    width: 99%;
    color: #cc7701bf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text_box h1 {
    font-size: 50px;
}

.text_box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #cc7701bf;
}


/*---------- display navegación --------*/
/*
.nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav img {
    width: 150px;  
}


/*---------- links navegación index --------*/
/*
.nav_links ul {
    display: flex;
    text-align: right;
}

.nav_links ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 12px;
    position: relative;
}

.nav_links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav_links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #573a0433;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav_links ul li:hover::after {
    width: 100%;
}
*/
