/* /hoja de contacto/
 */
 .flexcontainer{
  height: 100%;
  width: 100%;
  font-family: 'Open Sans';
  background-color: #FFFFFF; 
  display: flex;
  flex-wrap: wrap;
  overflow: auto;

}

.c_form {
  width: 30%;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;  
  background-color: #fbfbfb; 
  padding-left: 10px;
}

.nombre, .email, .telefono {
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #f4d200; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


.mensaje {
  background-color: #fbfbfb; 
  width: 405px; 
  min-width: 405px;
  max-width: 405px;
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #f4d200; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}
.c_nombre, .c_email, .c_telefono, .c_mensaje label {
  display: flex; 
  float: center;    
  
}
.boton {
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #e68828;
  border-color: #e68828;
  border-style: solid; 
  border-radius: 10px;  
  width: 408px;   
  cursor: pointer;
}  
.boton h4 {
  color: #fff; 
}
.obligatorio span{
  color: #7d5134; 
}
.flexcontainer h2{
  font-family: 'Franklin Gothic Medium';
  color: #7d5134; 
}
.flexcontainer h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #7d5134;
  white-space: nowrap;
}

.flexcontainer p{
  font-size: 14px; 
  color: #0e0e0e; 
}


.webkit-input-placeholder {
 color: #a8a8a8;
}


.webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #f4d200;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #f4d200;
}

.image{
  display: flex;
  margin-left: 50%;
  justify-content: right;
  align-items: first baseline;
  flex-direction: column;
  padding-top: 25%;
}

.enlace {
  position: relative;
}

.enlace .img {
  z-index: 1;
}

.enlace .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}


.c_info {
padding-top: 500px;
margin-left: -220px;
}