/* /hoja de contacto/
 */
 .flexcontainer{
  height: 100%;
  width: 60%;
  margin: 30px auto;
  font-family: 'Open Sans';
  background-color: #FFFFFF; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.c_formulario{
  flex: 1;
}

.c_form {
  height: auto;
  border-radius: 10px;  
  background-color: #fbfbfb; 
}

.nombre, .email, .telefono {
  background-color: #fbfbfb; 
  width: 60%; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #f4d200; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


.mensaje {
  background-color: #fbfbfb; 
  width: 60%;
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #f4d200; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}

.c_nombre, .c_email, .c_telefono, .c_mensaje  {
  display: flex; 
  float: center;    
}

.boton {
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #e68828;
  border-color: #e68828;
  border-style: solid; 
  border-radius: 10px;  
  width: 60%;
  cursor: pointer;
}  
.boton h4 {
  color: #fff; 
}
.obligatorio span{
  color: #7d5134; 
}
.flexcontainer h2{
  font-family: 'Franklin Gothic Medium';
  color: #7d5134; 
}
.flexcontainer h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #7d5134;
  white-space: nowrap;
}

.flexcontainer p{
  font-size: 14px; 
  color: #0e0e0e; 
}


.webkit-input-placeholder {
 color: #a8a8a8;
}


.webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #f4d200;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #f4d200;
}

.imagen{
  width: 100%;
}

.mapa{
  border: 0;
  width: 400px;
  height: 400px;
}

.informacion{
  margin: 20px 0;
}

.section_derecha{
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .flexcontainer{
    width: 80%;
  }

  .section_derecha{
    flex: 1;
  }

  .mapa{
    width: 250px;
    height: 250px;
  }

  .c_formulario input{
    width: 80%;
  }

  .mensaje{
    width: 80%;
  }

  
}